/*
 - Cambiar orden de las etiquetas para hacerlo más entendible
 - Cambiar manejo de píxeles por porcentajes, viewport-height (vh), etc.
    -porcentajes listos, acomodo de botones, logo y titulo
 - Agregar cualquier otro estilo necesario  
*/
/*
@font-face {
  font-family: "titleFont";
  src: url("fonts/AzoSans-Bold.ttf");
}
  
@font-face {
  font-family: "textFont";
  src: url("fonts/Roadgeek_2005_Series_D.ttf")
}

body{
  font-family: "textFont";
  display: flex;
}
  
.logo {
  width: 9rem;
}
  
h1 {
  font-family: "titleFont";
  font-size: 5rem;
  margin-top: -7.5rem;
  margin-left: 12rem;
}
  
.forma {
  text-align: center;
  font-family: "textFont";
  font-size: 24px;
  padding-top: 70px;
}
  
button {
  margin-left: 30%;
  width: 250px;
  height: 4em;
  font-family: "textFont";
  background-color: #c70000;
  border-color: #c70000;
  border-radius: 0;
  border-style: solid;
  border-width: 4px;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
  min-width: 200px;
  transition: all .2s linear;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}


button:hover{
  background-color: white;
  color: red;
}

/*sirve para alinear botones
.buttoncoso { 
/*  display: flex;
  float: left;
/*  position:relative;
/*  margin-top: -1.5rem;
/*  margin-bottom: 10%;
  margin-right: 1.5rem;

/*  text-align: center;
}

h2{
  margin-left: 25%;
}
  
  
#iniciarses{
  width: 278px;
  height: 31px;
  
  font-family: "textFont";
  font-size: 24px;
  line-height: 22px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
  
input {
  width: 322px;
  height: 36px;
    
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}
  
p {
  font-family: "textFont";
  font-size: larger;


}

/* Pruebas 
.centered-container {
  display: table;
  position: absolute;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

/* Encuesta 
.Encuesta {
  text-align: left;
  margin-bottom: 20%;
  margin-left: 15%;
  width: 100%;
}

li {
  list-style: none;
}

  
footer {
  position:fixed;
  bottom: 0%;

  width: 100%;
  height: 12.5%;
  left: 0%;
  
  background: #28333E;
}
  
footer h3{
  font-size: 24px;
  line-height: 8px;
  align-items: center;
  text-align: center;
  
  font-family: "textFont";
  font-style: normal;
  font-weight: normal;
  color: whitesmoke;
  padding: 0%;
}
  
footer p{
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  
  font-family: "textFont";
  font-style: normal;
  font-weight: normal;
  color: whitesmoke;
  padding: 0%;
}

.DatPer {
  margin-left: 30vw;
  margin-bottom: 35%;
  font-family: "textFont";
  text-align: center;
}

select {
  background: black;
  font-size: 1.2em;
  color: white;
  width: 50%;
  font-family: "textFont";
}

.Login{
  text-align: center;
  align-items: center;
  
}*/

/*********************************/

/*
@font-face {
  font-family: "titleFont";
  src: url("fonts/AzoSans-Bold.ttf");
}
  
@font-face {
  font-family: "textFont";
  src: url("fonts/Roadgeek_2005_Series_D.ttf")
}

h1{
    width:800px;
    margin: 0 auto;
    margin-top: 4%;
    font-family: "titleFont";
    text-align: center;
}

h2{
  margin-top: 3%;
  font-family: "titleFont";
  font-size: 40px;
  text-align: left;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "textFont";
  margin: 0 0 100px;
  padding: 25px;
}

footer {
  font-family: "textFont";
  
  background: #28333E;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
  
footer h3{
  font-size: 24px;
  line-height: 8px;
  align-items: center;
  text-align: center;
  
  font-style: normal;
  font-weight: normal;
  color: whitesmoke;
  padding: 0%;
}
  
footer p{
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  
  font-style: normal;
  font-weight: normal;
  color: whitesmoke;
  padding: 0%;
}

button {
  margin-left: 8px;
  width: 20%;
  height: 4em;
  font-family: "textFont";
  background-color: #c70000;
  border-color: #c70000;

  border-width: 4px;
  border-style: solid;
  color: whitesmoke;
  font-size: 140%;
  
  margin-top: 1rem;
  min-width: 200px;
  transition: all .2s linear;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear; 
}

button:hover{
  background-color: white;
  color: red;
}

input{
  width: 400px;
  height: 40px;
  margin-top: 0;
    
  background: #FFFFFF;
  border: 4px solid #000000;
  box-sizing: border-box;
}

label{
  font-family: "textFont";
  font-size: 20px;
}

select {
  font-family: "textFont";
  font-style: bold;
  background: #28333E;
  font-size: 1.2em;
  color: white;
  width: 35%;
  
}





/*Clases personalizadas*/
 


/* .logo {
  width: 9rem;
}

.coronanalysTitle{
  font-family: "titleFont";
  font-size: 5rem;
  margin-top: -7.5rem;
  margin-left: 6rem;
}

.textoBienvenida{
  font-family: "titleFont";
}

.AvisoPrivacidad{
  font-size: 30px;
  line-height: 8px;
  text-align: center;
  color: whitesmoke;

}

.descripcionAvisoPriv{
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  font-style: normal;
  color: whitesmoke;
}



.login{
  font-family: "titleFont";
  font-size: 30px;
}

.datosPersonales{
  font-style: normal;
} */


@font-face {
  font-family: "titleFont";
  src: url("fonts/AzoSans-Bold.ttf");
}
  
@font-face {
  font-family: "textFont";
  src: url("fonts/Roadgeek_2005_Series_D.ttf")
}

* {
  font-family: "textFont";
  font-size: 2.5vh;
  /* font-size: 1rem; */
  margin: 0;
  padding: 0;
}

.centeredContainer{
  margin: auto;
  padding: 10px;
  width: 10%;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  /* z-index: 1000; */
  /* height: 10vmax; */
  background-color: whitesmoke;
  flex-basis: 100px;
  display: inline-flex;
  margin: 0;

}
.logo {
  height: 10vmax;
  margin: 0;
}

.coronanalysTitle{
  font-family: "titleFont";
  font-size: 8vw;
  margin-top: 1.5vmax;
}

.main{
  background-color:whitesmoke;
  flex-basis: 300px;
  flex-grow: 2;
  flex-shrink: 1;
  overflow: auto;

}

h1{
  font-size: 6vh;
  padding: 0;
  margin-left: 7vw;
}

h2{
  font-size: 2.5vh;
  padding: 0;
  margin-left: 7vw;
  text-transform: uppercase;
}

h3{
  font-size: 2vh;
  padding: 0;
  margin-left: 7vw;
}

.main__text{
  padding: 1vw 2vw 2vw 2vw;
  padding-bottom: 0;
  align-content: center;
  justify-content: center;
  overflow: auto;
  color:whitesmoke;
  background-color: #c70000;
}

  
button {
  width: 22vmin;
  height: 10vh;

  background-color: #c70000;
  border-color: #c70000;
  border-style: solid;
  border-width: 4px;
  color: whitesmoke;
  margin: 3vh 0 0 1vh;
  transition: all .3s linear;
  transition-property: all;
  transition-duration: .3s;

  /* overflow-x: hidden; */
  
}

button:hover{
  background-color: whitesmoke;
  color: red;
}

.button__cliente{
  width: 35vh;
  height: 20vh;
  background-color: #c70000;
  border-color: #c70000;
  border-style: solid;
  border-width: 8px;
  color: whitesmoke;
  transition: all .3s linear;
  transition-property: all;
  transition-duration: .3s;

  overflow-x: hidden;
 
}

.centered-container{
  text-align: center;
  
}

.centered-container__login{
  font-family: "titleFont";
  font-size: 5vh;
  text-align: center;
  margin: 1vh;
}

.centered-container__login input{
  border: 2px solid rgba(0, 0, 0, 0.719);
}

.centered-container__cliente{
  flex-wrap: wrap;
  font-family: "titleFont";
  font-size: 5vh;
  margin: 1vh;
  text-align: center;
}

.footer{
  background-color: rgb(31, 38, 46);
  /* flex-grow: 2; */
  text-align: center;
  flex-shrink: 10;
  color: #f5f5f5;
}
.footer p{
  font-size: 1rem;
}

/*Encueta h3*/
.Encuesta {
  margin-left: 10%;
}
.Encuesta h3{
  margin-left: 0%;
}

.datosPersonales {
  margin-left: 0vw;
}

.Datos {
  margin-left: 3rem;
}

.Graficas {
  display:inline-flex;
  margin: 1vmax;
}
.Graficas text {
  font-size:4mm;
}

select {
  font-family: "textFont";
  font-style: bold;
  background: #28333E;
  font-size: 1.2em;
  color: white;
  width: 18.5rem;

}
.selectReg{
  margin: auto;
  padding: 10px;
  text-align: center;
}


/* RESPONSIVE */
@media screen and (min-width: 700px) {
  .content{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .header{
      grid-row: 1 / 2;
      grid-column: 1 / span 4;
  }

  .main{
      grid-row: 2 / 9;
      grid-column: 1 / span 4;
  }

  .footer{
      grid-row: 9 / 10;
      grid-column: 1 / span 4;
  }

}










